snippet op
	[${1:name}]
	class  = ${2:classname}
	method = ${3:method}
	${4}

snippet hop
	[${1:name}]
	class            = ${2:classname}
	method           = ${3:method}
	option.hires     = 1
	option.indexpage = 1
	${4}
